<div id="signupPage" class="container">
  <div id="form" class="container">
    <form class="form-horizontal">
      <label id="info">Create a New Account</label>
      <div class="form-group">
        <label for="name"><i class="fa fa-user-o"></i> Name</label>
        <p id="emptyName" class="text-danger">Enter Name</p>
        <input type="text" class="form-control" id="name" placeholder="Enter full name" name="name">
      </div>
      <div class="form-group">
        <label for="email"><i class="fa fa-envelope-o"></i> Email Address</label>
        <p id="emptyEmail" class="text-danger">Enter Email</p>
        <p id="invalidEmail" class="text-danger">Invalid Email</p>
        <p id="duplicateEmail" class="text-danger">User with this email already exists</p>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
      <div class="form-group">
        <label for="pwd"><i class="fa fa-key"></i> Password</label>
        <p id="emptyPwd" class="text-danger">Enter Password</p>
        <p id="invalidPwd" class="text-danger">Invalid Password: Need at least 6 characters</p>
        <input type="password" class="form-control" placeholder="Enter password" id="pwd">
      </div>
      <div class="form-group">
        <label for="confirmPwd"><i class="fa fa-key"></i> Confirm Address</label>
        <p id="emptyConfirmPwd" class="text-danger">Confirm Password</p>
        <p id="invalidConfirmPwd" class="text-danger">Password do not match</p>
        <input type="password" class="form-control" id="confirmPwd" placeholder="Confirm password" name="confirmPwd">
      </div>
      <button id="signupButton" (click)="signup()" class="btn btn-primary pull-right">Sign Up <i class="fa fa-arrow-circle-right"></i></button>
    </form>
  </div>
</div>
